body {
    background-color: #D5829C;
}
.navbar .navbar-nav {
     display: inline-block;
     float: none;
     vertical-align: top;
 }
.navbar .navbar-collapse {
    text-align: center;
}
.label {
    margin-top: 10px;
}
.header {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
