body {
    background-color: #f1bfc5;
}
.cart {
    font-size: 20px;

}

.boxheader {
    background-color: white;
    width: auto;
    height: 300px;
}

.headertext {
    padding-top: 4px;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
}
.navbar .navbar-collapse {
    text-align: center;
}